.modalSearch input {
  background: rgba(255, 255, 255, 0.05);
  border: none;
  color: white;
}

.equipmentCard {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.07);
  cursor: pointer;
  transition: 0.2s ease;
}

.equipmentCard:hover {
  background: rgba(100, 255, 255, 0.1);
}

.equipmentQty input {
  background: rgba(255, 255, 255, 0.05);
  color: white;
  text-align: center;
}
